# KS_Weather
*Getting weather data with python 3*  

**Author**: Luiz Moro Rosso  
**Semester**: Spring 2019  
**Project area**: Agronomy  
**Date**: 16 April 2019

<br>

# Final project

The script will be divided in 5 main steps:

1. Importing `USER_inputs.csv`;  
2. Identifying the closest land station;  
3. Getting data for the specified time interval;  
4. Replacing missing values for all the variables;  
5. Combining the locations in the `CODE_output.csv`.  

<br>

**Required modules:**

In [1]:
import datetime
import pandas as pd
import numpy as np

In [2]:
%%html
<style>
  table {margin-left: 0 !important;}
</style>

## 1. Importing `USER_inputs.csv`

1. Please, complete the .csv file `USER_inputs.csv` (Table 1);
2. Keep the file in the repository folder in your computer.

**Table 1.** Example of `USER_inputs.csv` showing the required format for each column.

| State          | Location_code  | Latitude       | Longitude      | Start_date     |End_date        |
|:--------------:|:--------------:|:--------------:|:--------------:|:--------------:|:--------------:|
| Kansas         | Manhattan_01   | 00.0000000     | 00.0000000     | MM/DD/YYYY     | MM/DD/YYYY     |

In [3]:
# Reading .csv file from the repository
user_input = pd.read_csv('USER_inputs.csv')

# Changing the columns to date format (start and end dates)
user_input['Start_date'] = pd.to_datetime(user_input['Start_date'])
user_input['End_date'] = pd.to_datetime(user_input['End_date'])

# Checking
user_input

    State     Location_code   Latitude  Longitude Start_date   End_date
0  Kansas   Histgen_Ashland  39.137253 -96.636581 2018-04-27 2018-10-17
1  Kansas  Agrocete_Ashland  39.122417 -96.637027 2018-06-18 2018-10-29
2  Kansas  NitSulfur_Topeka  39.076541 -95.770844 2018-05-10 2018-10-03

<br>

## 2. Identifying the closest land station

Importing all the locations (coordinates) from Kansas Mesonet.

In [4]:
# Importing .csv from the web with all Kansas Mesonet stations
Stations = pd.read_csv('http://mesonet.k-state.edu/rest/stationnames/')

**Function to calculate the distance between coordinates:**  
The `haversin()` function is based on the Haversine formula.  
It will calculate the distance in miles between two coordinates.

In [5]:
def haversin(lat1,lon1,lat2,lon2):
    
    '''Haversine formula'''
    
    R = 3958.8 # Radius of the earth in miles

    dLat = np.radians(lat2-lat1)
    
    dLon = np.radians(lon2-lon1)
    
    a1 = np.sin(dLat/2) * np.sin(dLat/2)
    
    a2 = np.cos(np.radians(lat1)) * np.cos(np.radians(lat2)) * np.sin(dLon/2) * np.sin(dLon/2)
    
    a = a1 + a2 # Just to make the code smaller
    
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    
    d = R * c # Distance between the points
    
    return d

**Applying the function to all the locations:**  
Calculating from each Location to all the stations.

In [6]:
# Creating empty lists for the loop
Locations = []; NAMES = []; Distance = []

# For loop to apply haversin()
for i in range(0,len(user_input)):
    
    for j in range(0,len(Stations)):
        
        Locations.append(str(user_input.loc[i,'Location_code']))
        
        NAMES.append(str(Stations.loc[j,'NAME']))
        
        Distance.append(haversin(user_input.loc[i,'Latitude'],
                                 user_input.loc[i,'Longitude'],
                                 Stations.loc[j,'LATITUDE'],
                                 Stations.loc[j,'LONGITUDE']))

# From lists to DataFrame
DISTANCES = pd.DataFrame({'Location_code': Locations,
                          'Distance': Distance,
                          'NAME': NAMES})

**Selecting the station with the smallest distance:**  
It will add new columns to the `user_input`.

In [7]:
# Adding the columns relative to the closest weather land station (Name and distance)
user_input = pd.merge(user_input, DISTANCES.loc[DISTANCES.groupby("Location_code")["Distance"].idxmin()])

# Checking
user_input

,State,Location_code,Latitude,Longitude,Start_date,End_date,Distance,NAME
0,Kansas,Histgen_Ashland,39.137253,-96.636581,2018-04-27,2018-10-17,0.793205,Ashland Bottoms
1,Kansas,Agrocete_Ashland,39.122417,-96.637027,2018-06-18,2018-10-29,0.233405,Ashland Bottoms
2,Kansas,NitSulfur_Topeka,39.076541,-95.770844,2018-05-10,2018-10-03,0.093515,Silver Lake

<br>

## 3. Getting data for the specified time interval  
  
The URL (Uniform Resource Locator) depends on the station `NAME`, `Start_date` and `End_date`.  
All this information is already available in the `user_input`. But it is necessary to build the URL.

**Creating the URL path for each location and time interval:**

In [8]:
# Empty lists for the loop
Locations = []; URL = []

# For loop to create the URLs
for i in range(0,len(user_input)):
    
    Locations.append(str(user_input.loc[i,'Location_code']))
    
    URL.append(str('http://mesonet.k-state.edu/rest/stationdata?stn=') + 
               user_input.loc[i,'NAME'].replace(' ','%20') + # Stations with compound names
               str('&int=day&t_start=') + user_input.loc[i,'Start_date'].strftime('%Y%m%d%H%M%S') +
               str('&t_end=') + user_input.loc[i,'End_date'].strftime('%Y%m%d%H%M%S'))

# Changing from lists to DataFrame
URLs = pd.DataFrame({'Location_code': Locations,
                     'URL': URL})

# Adding the URL to the user_input
user_input = pd.merge(user_input, URLs)

# Checking
user_input

,State,Location_code,Latitude,Longitude,Start_date,End_date,Distance,NAME,URL
0,Kansas,Histgen_Ashland,39.137253,-96.636581,2018-04-27,2018-10-17,0.793205,Ashland Bottoms,http://mesonet.k-state.edu/rest/stationdata?st...
1,Kansas,Agrocete_Ashland,39.122417,-96.637027,2018-06-18,2018-10-29,0.233405,Ashland Bottoms,http://mesonet.k-state.edu/rest/stationdata?st...
2,Kansas,NitSulfur_Topeka,39.076541,-95.770844,2018-05-10,2018-10-03,0.093515,Silver Lake,http://mesonet.k-state.edu/rest/stationdata?st...

**Defining the function to extract data from the web:**

In [9]:
def webaccess(Loc_code,URL):
    
    # Reading the .csv file
    web_data = pd.read_csv(URL)
    
    # Converting the TIMESTAMP to the date format
    web_data['TIMESTAMP'] = pd.to_datetime(web_data['TIMESTAMP'])
    
    # Adding column for the Location_code (to identify in the final DataFrame)
    web_data.insert(loc = 0, column = 'Location_code', value = str(Loc_code))
    
    return web_data

**For loop to apply the functions and combine all the data:**

In [10]:
# DataFrame to start the loop
CODE_output = pd.DataFrame()

# Loop to add all the locations
for i in range(0,user_input.shape[0]):
    
    data = webaccess(user_input.loc[i,'Location_code'],user_input.loc[i,'URL'])
    CODE_output = CODE_output.append(data, ignore_index=True, sort=True)

<br>

# 4. Replacing missing values for all the variables

Replacing lines with "M" (missing value) with the the value of the previous line.  
`NaN` will not be replaced, since some variables are not available for all the stations.

In [11]:
for i in CODE_output.columns:
    
    for j in range(0,CODE_output.shape[0]):
        
        if CODE_output.loc[j,i] == 'M':
            
            CODE_output.loc[j,i] = CODE_output.loc[j-1,i]

<br>

# 5. Combining the locations in the `CODE_output.csv`

Saving the final `CODE_output.csv` in the repository folder.

In [12]:
# Saving the final .csv file with weather data for all the locations
CODE_output.to_csv('CODE_output.csv', sep=',', encoding='utf-8')